# Ignores:
## pycharm project path
.idea
## pycache path
__pycache__/
## checkpoints
checkpoints/
## jupyter notebooks checkpoints
*/.ipynb_checkpoints/*
## temporal vim files
*.sw*
## runs paths and everything withtin it
**/runs/*
## ignores train_results
**/train_results/*
#!**\train_results\test1\eval.py
